.mainCompletedContainer {
    margin: 5px;
}

.completedContainer {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 10px;
    border-top: 1px solid #A9A9A9;
    border-bottom: 1px solid #A9A9A9;
}

.textSpan {
    width: 95%;
}