.itemsContainer {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 5px;
    background-color: rgb(105, 195, 189);
    border-radius: 7px;
}

.itemsContainer input{
    width: 5%;
}

.itemsContainer span{
    padding-left: 10px;
    width: 95%;
}