.itemsContainer {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 5px;
    background-color: rgb(105, 195, 189);
    border-top: 1px solid #A9A9A9;
    border-bottom: 1px solid #A9A9A9;
}

.itemsContainer input{
    margin: 0 10px;
}

.itemsContainer span{
    padding-left: 10px;
    width: 95%;
}

.isCompleted {
    color: rgb(73, 161, 155);
    text-decoration: line-through;
}

.isNotCompleted {
    text-decoration: none;
}