.carsContainer {
    display: flex;
    padding: 10px 0;
}

.filterContainer {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    flex: 25%;
    background-color: #F5F5F5;
    margin-right: 10px;
    height: 100%;
}

.carsCollectionContainer {
    flex: 75%;
    background-color: #F5F5F5;
}

.addCarContainer {
    text-align: center;
    padding: 10px;
    background-color: lightgreen;
    border-radius: 5px;
}

.addCarContainer span {
    color: rgb(104, 38, 38);
}

.addCarContainer a {
    color: black;
    text-decoration: none;
}