.mainCompletedContainer {
    margin: 5px;
}

.completedContainer {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 10px;
    border-radius: 7px;
    background-color: rgb(105, 195, 189);
}

.textSpan {
    width: 90%;
}