.mainCompletedContainer {
    margin: 5px;
}

.completedContainer {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 10px;
    border-radius: 7px;
}

.textSpan {
    width: 90%;
}

.dateSpan {
    width: 10%;
}

.nonCompletedTodo {
    background-color: rgb(249, 85, 101);
}

.completedTodo {
    background-color: rgb(109, 245, 122);
}