.itemBox {
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    margin: 20px;
    width: 200px;
    height: 250px;
    border: 1px solid black;
}

.itemBox img {
    width: 90%;
    height: 60%;
}

.itemBox p {
    margin: 0;
    padding: 5px;
}