.userSecutiry>div{
    padding: 10px 20px;
    background-color: #F5F5F5;
}

.userSecutiry>div:not(:first-child) {
    border-top: 1px solid #A9A9A9;
}

.item {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.form input {
    border: 1px solid #A9A9A9;
    padding: 5px;
    width: 285px;
    margin: 3px 0;
}