.mainContainer {
    width: 75%;
    margin: 10px auto;
}

.info>div{
    margin-top: 10px;
}

.info>div, .userSecutiry>div, .account{
    padding: 10px 20px;
    background-color: #F5F5F5;
}

.userData>div:not(:first-child), .userSecutiry>div:not(:first-child) {
    border-top: 1px solid #A9A9A9;
}

.item {
    display: flex;
    justify-content: space-between;
}

.item:not(:first-child) {
    border-top: 1px solid #A9A9A9;

}

.item {
    padding: 10px 20px;
}
