.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px 30px;
    border: 1px solid #A9A9A9;
    background-color: #F5F5F5;
    margin-bottom: 10px;
}