.shopMain {
    width: 80%;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.item {
    flex: 30%;
    padding: 10px;
}

.item h3 {
    padding: 5px 0;
    margin: 0;
}

.item p {
    padding: 0;
    margin: 0;
}