.change button{
    color: #9f9f9f;
    font-size: 13px;
    border: none;
    background-color: none;
}

.changeModal {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    background-color: #f5f6f6;
    border: 1px solid silver;
    transform: translate(-50%, -50%);
}

.mainContainer>div{
    padding: 15px;
}

.changeHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid silver;
}
